/*This stylesheet is for all*/




/*Color */
.red{
    color: red;
}
.green{
    color: green;
}
.blue{
    color: blue;
}
.black{
    color: black;
}
.white{
    color: white;
}
.pink{
    color: pink;
}
.orange{
    color: orange;
}
.purple {
    color: purple ;
}
.brown {
    color: brown;
}
/*End of Color */
